@page "/"

<PageTitle>React vs. Blazor: Home</PageTitle>

<div class="content-container">
    <h1>Milliman Tech Forum 2024: React vs. Blazor Demo App</h1>
    <div class="icon-container">
        <img src="img/react-logo.png" alt="React Logo" />
        vs.
        <img src="img/blazor-logo.png" alt="Blazor Logo" />
    </div>
    <p>
        This demo application is designed to provide a side-by-side comparison
        of the React and Blazor web frameworks and to show how the same
        features can be implemented in each.
    </p>
    <p>The source code for these demos can be found on GitHub:</p>
    <p>
        <a href="">React Source</a>
        <br />
        <br />
        <a href="">Blazor Source</a>
    </p>
</div>
