<div class="counter-component">
    <button class="counter-button decrement"
            @onclick=@DecrementCount   
    >
        <img src="img/minus.svg" alt="decrement" />
    </button>
    <h1 class="counter-value">
        @AppState.CurrentCount
    </h1>
    <button class="counter-button increment"
            @onclick=@IncrementCount
    >
        <img src="img/plus.svg" alt="increment" />
    </button>
</div>

@code {
    [CascadingParameter]
    private AppState AppState { get; set; } = new();

    private void DecrementCount()
    {
        AppState.CurrentCount--;
    }

    private void IncrementCount()
    {
        AppState.CurrentCount++;
    }
}
